<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stone.mapper.DeptMapper">
    <!--目的：为Dao接口方法提供SQL语句-->

    <!--映射实体对象-->
    <resultMap id="baseDepartment" type="Department">
        <id property="deptId" column="deptid" />
        <result property="deptName" column="deptname" />
    </resultMap>

    <!--查询部门信息-->
    <select id="selectOne" resultMap="baseDepartment" >
        SELECT * from dept where deptid = #{deptId}
    </select>


    <!--增加部门信息-->
    <insert id="save" parameterType="Department" keyColumn="deptid" keyProperty="deptId" useGeneratedKeys="true">
        INSERT INTO dept(deptname) VALUES (#{deptName})
    </insert>


</mapper>